#python-telegram-bot==21.6

python-telegram-bot[job-queue]==21.6
#python-telegram-bot==20.7
pandas
openpyxl
reportlab
weasyprint
libgobject-2.0-0

libpango-1.0-0

libpangocairo-1.0-0

libcairo2
















